---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hola, Estudiantes!</h1>
			<p>
				Este blog es un <strong>repositorio académico y práctico</strong
				> diseñado para acompañarte en el aprendizaje de <strong
					>programación, desarrollo de software e inteligencia
					artificial</strong
				>. Aquí encontrarás material estructurado, claro y actualizado
				de los cursos de estructura de Datos, programación científica,
				inteligencia artificial y analisis de algoritmos.
			</p>
			<p>
				Los contenidos que encontrarás están organizados por cursos y
				temáticas, e incluyen
				<strong
					>apuntes de clase, ejemplos de código, guías paso a paso,
					buenas prácticas y recursos complementarios</strong
				>. El objetivo es que no solo entiendas los conceptos, sino que
				desarrolles criterio técnico y habilidades aplicables en
				proyectos académicos y profesionales.
			</p>
			<div
				style="margin-top: 2rem; padding: 1.5rem; background-color: #f5f7fa; border-left: 6px solid #4f46e5;"
			>
				<p style="font-size: 1.05rem; margin: 0;">
					💡 <strong
						>Aprender tecnología no es memorizar, es construir.</strong
					><br />
					Este espacio está pensado para que experimentes, cuestiones y
					fortalezcas tu forma de pensar como desarrollador o ingeniero.
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
